
.socialIcons {
    display: flex;
    justify-content: center;
    .svgIcons {
        padding: 0px 20px 20px 20px;
        color: black;
        svg {
            height: 40px;
            width: 40px;
        }
    }
    .svgIcons:hover{
        color: blue;
    }
}