// *{
//     border: 1px solid black;
// }
.home{
    margin-top: 50px;
    height: max-content;
}
.hero{
    display: block;
    margin: auto;
    text-align: center;
}

.socialIcons {
    display: flex;
    justify-content: center;
    .svgIcons {
        padding: 0px 20px 20px 20px;
        color: rgb(0, 0, 0);
        svg {
            height: 30px;
            width: 30px;
        }
    }
    .svgIcons:hover{
        color: #1f1fd1;
    }
}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}