ul{
    // border: 1px solid black;
    padding: 5px;
}
li.nav-item{
    width: 100px;
    // border: 1px solid black;
    font-family: sans-serif;
    font-size: 16px;
}
// a:hover{
//     color: #0b5897 !important;
// }

.btn{
    border-radius: 60px 20px;
    width: 200px;
    display: block;
}
.btn:hover{
    color: white;
}