<div class="container">
    <section class="about1">
        <div class="row mt-5">
            <div class="col-4 offset-1 hero">
                <section>
                    <h1 class="h1 text-success">
                        About us
                    </h1>
                    <p>
                        Zero was created to enable the adoption of digital technology on a global scale by building
                        solutions to address the very real concerns that stand in the way.
                    </p>
                </section>
            </div>
            <div class="col-6 offset-1 ">
                <img src="../../../assets/team_spirit.svg" class="col-10"/>
            </div>
        </div>
    </section>

    <div class="text-center mt-4">
        <hr />
        <p>
            <span class="display-6">You are in Good Hands</span>
        </p>
        <div class="row">
            <div class="col-4">
                <hr />
            </div>
            <div class="col-4">
                <button class="btn btn-outline-success btn-lg col-12">Reviews</button>
            </div>
            <div class="col-4">
                <hr />
            </div>
        </div>
    </div>
    <section class="about1">
        <div class="row mt-5">
            <div class="col-6 offset-1 ">
                <img src="../../../assets/undraw_reviews_lp8w.svg" class="col-10"/>
            </div>
            <div class="col-4 hero">
                <section>
                    <h1 class="h1 text-success">
                        Our Pledge to Quality
                    </h1>
                    <p>
                        Our commitment to quality is at the foundation of each custom web solution that we build. We invest in recruiting
                        only the best talent in the industry; certified developers, six-sigma certified testers, CSM (Certified Scrum Master) 
                        certified project managers and other talent who work together to ensure a project is executed.
                    </p>
                </section>
            </div>
        </div>
    </section>
    <section class="about1">
        <div class="row mt-5">
            <div class="col-4 offset-1 hero">
                <section>
                    <h1 class="h1 text-success">
                        Exceptional leadership
                    </h1>
                    <p>
                        Our leadership team includes industry veterans withskill sets acress the software development spectrum.
                        Our senior management is as passionate as our exployees about creating solutions that delight and exceed all exceptions
                        of our customers. We are known for forging long-lasting patnerships across the globe.
                    </p>
                </section>
            </div>
            <div class="col-6 offset-1 ">
                <img src="../../../assets/undraw_powerful_re_frhr.svg" class="col-10"/>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-6 bg-dark">
            <p class="h1 text-light h1 offset-2 pt-4">Our Values</p>
            <div class="row align-center offset-1 p-4">
                <div class="text-light col-5">
                    <span class="h3">Integrity</span>
                    <p class="display-7">Our first principle is honesty. Which help us to meet expectations</p>
                </div>
                <div class="text-light col-5">
                    <span class="h3">Commitment</span>
                    <p class="display-7">Our commitment to our work and out clients is an unbreakable bond.</p>
                </div>
            </div>
            <div class="row align-center offset-1 p-4">
                <div class="text-light col-5">
                    <span class="h3">Passion</span>
                    <p class="display-7">Passion drives us to perform better, progress continually, and deliver timely.
                    </p>
                </div>
                <div class="text-light col-5">
                    <span class="h3">Learning</span>
                    <p class="display-7">Our team is always learning something new to get better at what they do.</p>
                </div>
            </div>
            <div class="row align-center offset-1 p-4">
                <div class="text-light col-5">
                    <span class="h3">Team work</span>
                    <p class="display-7">Our team members are all about helping each other.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <p class="m-4 text-dark h1">Our Goal Statement</p>
            <hr />
            <p class="m-4 display-6 text-muted pe-5 col-10">
                The Zero LPA family believes in action, progress and growth. The yough startup has achieved several
                milestones in it's active years till now, but nothing
                keeps us from seeking more and more. We aspire to learn and contribute to the organization as we
                progress.
            </p>
        </div>
    </div>
</div>