<div class="container">
    <section class="product">
        <div class="row mt-5">
            <div class="col-4 offset-1 hero">
                <section>
                    <h1 class="h1 text-dark">
                        Web Design & Development on
                        <br /><span class="changingText text-warning"></span>
                    </h1>
                </section>
            </div>
            <div class="col-6 offset-1 ">
                <img src="../../../assets/undraw_code_typing_re_p8b9.svg" class="col-10" />
            </div>
        </div>
    </section>

    <section class="product">
        <div class="row">
            <div class="col-5 offset-1">
                <img src="../../../assets/undraw_project_complete_lwss.svg" class="col-10" />
            </div>
            <div class="col-5 hero">
                <section>
                    <h1 class="h1 text-warning">
                        Web Development
                    </h1>
                    <p>
                        We develop fullly functional web applications, available online to millions of users.
                        We work with various databases and APIs, and implement scaling and integration with other
                        services.
                    </p>
                </section>
            </div>
        </div>
    </section>

    <section class="product">
        <div class="row">
            <div class="col-5 hero offset-1">
                <section>
                    <h1 class="h1 text-warning">
                        Software Development
                    </h1>
                    <p>
                        Zero LPA provides full-cycle software development services designed to help you grow your
                        business.
                        Whether it’s custom software engineering, software testing and quality assurance, system
                        integration, technology consulting, or software support — we got you covered.

                    </p>
                </section>
            </div>
            <div class="col-5 offset-1">
                <img src="../../../assets/undraw_organizing_projects_re_9p1k.svg" class="col-10" />
            </div>
        </div>
    </section>

    <section class="product">
        <div class="col-10 offset-1">
            <h1 class="h1 text-warning">Our Approach</h1>
            <h4 class="h4 text-warning">Product Development</h4>
            <p>Software defines the interactions you have with your customers. The value of almost every product today
                comes from software. But building these software-enabled products presents new challenges.</p>
            <h4 class="h4 text-warning">Mobile development​</h4>
            <p>Crytiq provides world-class mobile application development services for all platforms and mobile devices.
                Look to our extensive experience developing custom mobile applications which drive clear business value.
            </p>
            <h4 class="h4 text-warning">Frontend Development​</h4>
            <p>Attractive, interactive & visually appealing web front-end pages are crucial for the success of a
                business. These, not only reflect the purpose of an organisation & company, but are also responsible for
                successful branding and gaining the trust & confidence of the visitor. Therefore, to help you achieve
                these goals effortlessly, we offer front-end & UI development services, with exceptional usability,
                dependability & UX design.
            </p>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-4">
                <div class="card mb-3">
                    <section class="card-image">
                        <img class="card-img-top p-4" src="../../../assets/Products/pinderLogo1.png" alt="Pinder" />
                    </section>
                    <div class="card-body" style="background-color: rgba(148, 148, 136, 0.705);">
                        <h5 class="card-title">Pinder</h5>
                        <p class="card-text">Basically it's a Tinder for pets. It is obvious to find a mating patner for
                            your pets.
                            Pinder will get you covered in search of any needs your pet needs.
                        </p>
                        <p class="card-text"><small class="text-muted">Ongoing</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-3">
                    <section class="card-image">
                        <img class="card-img-top p-4" src="../../../assets/Products/foodietraveler.png" alt="Pinder" />
                    </section>
                    <div class="card-body" style="background-color: rgba(148, 148, 136, 0.705);">
                        <h5 class="card-title">Food Pin</h5>
                        <p class="card-text">Food Pin is a social media platform where one can share thoughts on
                            unexplored or explored
                            tourist destinations and foods in local areas as a part of touring.
                        </p>
                        <p class="card-text"><small class="text-muted">Ongoing</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-3">
                    <section class="card-image">
                        <img class="card-img-top p-4" src="../../../assets/Products/redBellTranparentLogo.png"
                            alt="Pinder" />
                    </section>
                    <div class="card-body" style="background-color: rgba(148, 148, 136, 0.705);">
                        <h5 class="card-title">Bell Woods</h5>
                        <p class="card-text">BellWoods is a furniture seller store. It provides good quality, luxurious
                            and affordable
                            products of furniture. Also there's an option for customization on needs.
                        </p>
                        <p class="card-text"><small class="text-muted">Production</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>