<div class="container">
    <div class="row">
        <div class="offset-2 col-4 mt-5">
            <p class="text-primary">
                Check our
            </p>
            <h1 class="h1">
                Our work for thriving start-ups and businesses
            </h1>
                We're currently serving three projects
                <ol>
                    <li>Pinder</li>
                    <li>Bellwoods</li>
                    <li>TravelPin</li>
                </ol>
            
        </div>
        <div class="col-6">
            <img src="../../../assets/productpagesvgimage.svg"/>
        </div>
    </div>
</div>