<div class="container">
    <section class="product">
        <div class="row mt-2 m-auto">
            <div class="col-xs-8 col-sm-8 col-md-5 col-lg-5 hero">
                <h1 class="text-sm-center text-md-start text-lg-start">
                    Web Design & Development on
                    <span class="changingText text-warning"></span>
                </h1>
                <p class="text-md-start text-lg-start text-sm-center">
                    We'll get you covered.
                </p>
            </div>
            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-12 border">
                <img src="../../../assets/undraw_code_typing_re_p8b9.svg" class="col-12" />
            </div>
        </div>
    </section>

    <section class="product">
        <div class="row mt-2 m-auto">
            <div class="offset-md-1 offset-lg-1 col-md-5 col-lg-5 col-xs-12 col-sm-12">
                <img src="../../../assets/undraw_project_complete_lwss.svg" class="col-12" />
            </div>
            <div class="col-xs-8 col-sm-8 col-md-5 col-lg-5 hero">
                <h1 class="h1 text-warning">
                    Web Development
                </h1>
                <p>
                    We develop fullly functional web applications, available online to millions of users.
                    We work with various databases and APIs, and implement scaling and integration with other
                    services.
                </p>
            </div>
        </div>
    </section>

    <section class="product">
        <div class="row mt-2 m-auto">
            <div class="col-xs-8 col-sm-8 col-md-5 col-lg-5 hero">
                <section>
                    <h1 class="text-sm-center text-md-start text-lg-start text-warning">
                        Software Development
                    </h1>
                    <p class="text-md-start text-lg-start text-sm-center">
                        Zero LPA provides full-cycle software development services designed to help you grow your
                        business.
                        Whether it’s custom software engineering, software testing and quality assurance, system
                        integration, technology consulting, or software support — we got you covered.
                    </p>
                </section>
            </div>
            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-12 border">
                <img src="../../../assets/undraw_organizing_projects_re_9p1k.svg" class="col-12" />
            </div>
        </div>
    </section>

    <section class="product">
        <div class="col-10 offset-1">
            <h1 class="h1 text-warning">Our Approach</h1>
            <h4 class="h4 text-warning">Product Development</h4>
            <p>Software defines the interactions you have with your customers. The value of almost every product today
                comes from software. But building these software-enabled products presents new challenges.</p>
            <h4 class="h4 text-warning">Mobile development​</h4>
            <p>Crytiq provides world-class mobile application development services for all platforms and mobile devices.
                Look to our extensive experience developing custom mobile applications which drive clear business value.
            </p>
            <h4 class="h4 text-warning">Frontend Development​</h4>
            <p>Attractive, interactive & visually appealing web front-end pages are crucial for the success of a
                business. These, not only reflect the purpose of an organisation & company, but are also responsible for
                successful branding and gaining the trust & confidence of the visitor. Therefore, to help you achieve
                these goals effortlessly, we offer front-end & UI development services, with exceptional usability,
                dependability & UX design.
            </p>
        </div>
    </section>
    <section class="product border border-dark">
    </section>
</div>