<footer class="w-100 py-4 flex-shrink-0">
    
    <div class="container py-4">
        
        <div class="row gy-4 gx-5">
            <div class="col-lg-2 col-md-6">
                <img
                src="../../../assets/0LPAnew.png"
                width="100px"
                height="150px"
                />
            </div>

            <div class="col-lg-4 col-md-6">
                <h5 class="h1 text-white">Zero LPA</h5>
                <p class="small text-muted">With the process of building an objective based startup company on web based Platform offering assistence Life Purpose Applications</p>
                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">zerolpa.com</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Newsletter</h5>
                <p class="small text-muted">Currently working on 1) BellWoods. 2) Pinder, 3) FoodBuddy</p>
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Say Hello" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>