<footer class="w-100 py-4 flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12 m-auto">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../../../assets/New Logo 0-LPA/Just 0 logo wb.png" height="100px" alt="Zero"
                        class="m-3" />
                    <img src="../../../assets/New Logo 0-LPA/desc-whiteblue.png" height="50px" alt="Zero"
                        class="m-3" />
                </div>
                <p class="text-white d-block text-center">
                    Zero-LPA is a development company that builds online platforms. From idea to post-deployment
                    maintenance. Our solutions are agile, light and adaptable to your business, pace and work protocols.
                </p>
            </div>

            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Navigations</h5>
                <ul class="list-unstyled text-muted">
                    <li><a routerLink="welcome">Home</a></li>
                    <li><a routerLink="about">About</a></li>
                    <li><a routerLink="product">Products</a></li>
                    <li><a routerLink="contact">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="small text-light text-center">Made with
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg> in India.
        </p>
        <p class="small text-light mb-0 text-center">&copy; Copyrights. All rights reserved. <a class="text-primary"
                href="#">zerolpa.com</a></p>
    </div>
</footer>