<footer class="w-100 py-4 flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 m-auto">
                <img src="../../../assets/logoOnly0LPA.png" width="100px" height="100px" class="d-block m-auto"/>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 text-white">Zero LPA</h5>
                <p class="small text-muted">Made with
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg> in India.
                </p>
                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary"
                        href="#">zerolpa.com</a></p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>